%container {
	@include mediaDesktop {
		padding: $container_padding_desktop;
	}
	margin: 0 auto;
	padding: $container_padding;
	padding-top: 17px;
	width: 100%;
	max-width: $container_max_size;
	&.full-width {
		padding-right: 0;
		padding-left: 0;
	}
}