#appContainer,
.app-container {
	position: relative;
	z-index: $z_index_content;
	margin: 0;
	padding: 0;
	width: 100%;
}
#appContainer {
	@extend %container;
	.game {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}