.faq-page {
	.back-link {
		margin: 20px 0;
		color: $secondary_text_color;
		font-weight: $bold;
		font-size: rem(14px);
	}
	h2 {
		margin: 15px 0 5px;
		text-align: left;
		font-weight: $heavy;
		font-size: rem(16px);
	}
	ul.panel {
		@extend %panel;
		@extend %blank_ul;
		@extend %container;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		padding: 0 15px;
		text-align: left;
		transition: $default_transition;
		& > li:not(:last-child) {
			border-bottom: rgba($text_color, .2) 1px solid;
		}
		.question {
			position: relative;
			display: flex;
			align-items: center;
			margin: 0;
			padding: 15px 40px 14px 0;
			width: 100%;
			cursor: pointer;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 15px;
				transform: rotate(0);
				background-image: url('../images/icons/arrow-down.svg');
				background-position: center;
				background-size: 100%;
				background-repeat: no-repeat;
				transition: $default_transition;
			}
			&.opened {
				&:after {
					transform: rotate(180deg);
				}
			}
		}
		.answer {
			// display: none;
			padding-bottom: 12px;
			p {
				margin-bottom: 4px;
			}
		}
	}
	.other-question {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}
@include mediaDesktop {
	.faq-page {
		.welcome-message {
			margin-bottom: 10px;
		}
		.back-link {
			font-size: rem(16px);
		}
		h2 {
			margin: 25px 0 10px;
			font-size: rem(18px);
		}
		.question,
		.answer {
			font-size: rem(16px);
		}
	}
}