.game-tutorial {
	@extend %panel;
	h4 {
		font-size: rem(16px);
	}

	.slick-slider {
		padding-bottom: 0;

		max-width: 100% !important;
		margin: 0 auto;
		padding: 0 20px;

		.slick-arrow{
			display: none !important;
		}
		article {
			img.icon {
				display: inline-block;
				margin-bottom: 8px;
				width: 58px;
			}
			p:first-of-type {
				margin-bottom: 18px;
				min-height: 50px;
			}
			.button {
				margin-bottom: 10px;
			}
		}
		.slick-dots {
			bottom: 70px;
		}
	}
}