.game {
    width: 100%;
    height: 100%;
    .ar-module {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .ar-module__bottom-bar{
        position: fixed !important;
    }
}