.home {
	.intro {
		@extend %medium_text;
		padding: 0 $horizontal_spacing 20px;
		img.tickets {
			margin-bottom: 7px;
			width: (552px / 2);
		}
	}
	.open-game-session {
		@extend %panel;
		@include mediaDesktop {
			margin-bottom: $vertical_spacing_desktop;
		}
		margin-bottom: $vertical_spacing;
		padding-bottom: 0;
		h4 {
			margin-bottom: 0;
		}
	}
	.code-form {
		@extend %panel;
		@include mediaDesktop {
			margin-bottom: $vertical_spacing_desktop;
			font-size: rem(16px);
			h4 {
				font-size: rem(18px);
			}
		}
		margin-bottom: $vertical_spacing;
		img.icon {
			display: block;
			margin: 0 auto 8px;
			width: 52px;
		}
		input[name=code] {
			@include mediaDesktop {
				margin-bottom: 20px;
				max-width: 280px;
				font-size: rem(22px);
			}
			margin-bottom: 10px;
			padding: 15px;
			width: 100%;
			border: $input_border_color 1px solid;
			border-radius: $default_border_radius;
			color: $highlight_color;
			text-align: center;
			font-weight: $black;
			font-size: rem(20px);
			font-family: $default_font;
		}
		.error {
			margin-bottom: 10px;
			color: $highlight_color;
			font-size: rem(13px);
		}
		button.submit {
			display: block;
			margin-bottom: 12px;
		}
		a.saveCode {
			@include mediaDesktop {
				margin-bottom: 0;
				color: $secondary_text_color;
			}
			color: $highlight_color;
			font-weight: $bold;
			&.isLoading:after {
				border: 1px solid $highlight_color;
				border-top: 1px solid rgba( $highlight_color, .5);
			}
		}
	}
	.available-game-sessions {
		@extend %panel;
		@include mediaDesktop {
			margin-bottom: $vertical_spacing_desktop;
		}
		margin-bottom: $vertical_spacing;
		h4 {
			margin-bottom: 2px;
		}
		.button {
			margin-bottom: 0;
		}
	}
}