.app-container {
	.slick-disabled{
		opacity:0
	}
	.welcome-message {
		@extend %medium_text;
		@include mediaDesktop {
			margin-bottom: 30px;
		}
		margin-bottom: 20px;
	}
	.tutorial {
		@extend %panel;
		@include mediaDesktop {
			margin-bottom: $vertical_spacing_desktop;
		}
		margin-bottom: $vertical_spacing;
		.slick-slider {
			article {
				img.icon {
					display: inline-block;
					margin-bottom: 8px;
					width: 58px;
				}
				p:first-of-type {
					margin-bottom: 18px;
				}
			}
		}
	}
	.login-button {
		@include mediaDesktop {
			margin-top: 0;
		}
		margin-top: $vertical_spacing;
		color: $highlight_color;
	}
	.faq {
		@extend %panel;
		@include mediaDesktop {
			margin: 0 auto;
			max-width: 580px;
			background-image: url('../images/faq-push-background-desktop.png');
			background-position: center;
			background-size: contain;
		}
		background-image: url('../images/faq-push-background.png');
		background-position: center 12px;
		background-size: (534px/2);
		background-repeat: no-repeat;
		.button {
			margin-bottom: 0;
		}
	}
	.rules {
		h4 {
			margin: 20px 0;
			font-weight: $bold;
			a {
				color: $secondary_text_color;
			}
		}
		p {
			font-size: rem(11px);
			opacity: .6;
		}
	}
}