.button {
	@include mediaDesktop {
		font-size: rem(16px);
	}
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 20px auto;
	min-width: 200px;
	min-height: 40px;
	border: none;
	border-radius: 20px;
	box-shadow: $panel_box_shadow;
	background-color: $secondary_background;
	color: $secondary_text_color;
	text-decoration: none;
	font-weight: $bold;
	&.inverted {
		background-color: $primary_background;
		color: $text_color;
		&:hover {
			color: $text_color;
		}
	}
	&:hover {
		color: $secondary_text_color;
		text-decoration: none;
	}
	&:active {
		opacity: .8;
	}
}