.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: $z_index_modal;
	display: none;
	padding: 20px;
	background-color: rgba(0,0,0,.7);
	&.visible {
		display: block;
	}
	.modal {
		@extend %panel;
		@extend %container;
		position: relative;
		top: 10vh;
		padding-top: 40px;
		transform: translateY(10vh);
		.close {
			$close_size: 15px;
			position: absolute;
			top: 10px;
			right: 10px;
			width: $close_size * 2;
			height: $close_size * 2;
			background-image: url('../images/icons/close.svg');
			background-position: center;
			background-size: $close_size;
			background-repeat: no-repeat;
		}
		a {
			// display: block;
			width: fit-content;
			&.quit {
				color: $highlight_color;
			}
		}
		.big {
			display: block;
			margin: 15px 0;
			font-weight: $heavy;
			font-size: rem(20px);
		}
		h4 {
			margin-bottom: 2px;
		}
		img.icon {
			margin-bottom: 10px;
			width: 52px;
		}
		.share {
			margin-top: 15px;
			ul {
				@extend %blank_ul;
				display: flex;
				justify-content: center;
				margin: 15px 0 0;
				button,
				a {
					padding: 0 4px;
				}
				button:active {
					opacity: .8;
				}
			}
		}
	}
	&.phone-orientation {
		@media (orientation: landscape) {
			display: block;
		}
	}
}
