%panel {
	@include mediaDesktop {
		padding: $container_padding_desktop;
	}
	padding: $container_padding;
	border-radius: $default_border_radius;
	box-shadow: $panel_box_shadow;
	background: $primary_background;
	color: $text_color;
}