.slick-slider {
	$dots-size: 6px;
	@include mediaDesktop {
		padding-bottom: 0;
		.slick-list {
			width: 100%;
		}
		.slick-slide > div {
			padding: 0 12px;
			font-size: rem(16px);
		}
	}
	display: flex;
	flex-direction: row;
	padding-bottom: 16px;
	// unset du style par défaut des boutons pour les arrow et dots
	.slick-arrow,
	.slick-dots {
		margin: 0;
		min-width: unset;
		min-height: unset;
		border-radius: 0;
		box-shadow: none;
		background-color: transparent;
	}
	.slick-slide {
		padding: 0;
	}
	.slick-arrow {
		position: static;
		flex-shrink: 0;
		width: 15px;
		background-image: url('../images/icons/arrow-left.svg');
		background-position: 0 center;
		background-size: 8px auto;
		background-repeat: no-repeat;
		// on masque le contenu du button
		color: transparent;
		font-size: 0;
		line-height: 0;
		cursor: pointer;
		transition: all .2s $easeOutExpo;
		&.slick-next {
			background-image: url('../images/icons/arrow-right.svg');
			background-position: 100% center;
		}
	}
	.slick-dots {
		@extend %blank_ul;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		li {
			margin: 0;
			opacity: .2;
			&.slick-active {
				opacity: 1;
			}
			button {
				position: relative;
				padding: $dots-size;
				width: $dots-size;
				height: $dots-size;
				// on masque le contenu du button
				color: transparent;
				font-size: 0;
				line-height: 0;
				transition: all .4s $easeOutExpo;
				&:before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					width: $dots-size;
					height: $dots-size;
					transform: translateX(-50%);
					border-radius: 50%;
					background-color: $highlight_color;
				}
			}
		}
	}
	@media (max-width: $bpSmall) {
		max-width: 290px;
		margin: 0 auto;
	}
}
