$easeOutExpo: cubic-bezier(.190, 1.000, .220, 1.000);
$easeOutBack: cubic-bezier(0, 2.07, .5, 1);
$default_transition: all .4s $easeOutExpo;
$back_transition: all .8s $easeOutBack;

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
@keyframes slide-from-left {
	from {
		transform: translateX(-10%);
	}
}
@keyframes slide-up {
	from {
		transform: translateY(10%);
	}
}
@keyframes slide-down {
	from {
		transform: translateY(-10%);
	}
}
@keyframes slide-up-centered {
	from {
		transform: translateY(10%) translateX(-50%);
	}
}
@keyframes slide-down-centered {
	from {
		transform: translateY(-10%) translateX(-50%);
	}
}
@keyframes slide-from-right {
	from {
		transform: translateX(10%);
	}
}
@keyframes rotate {
	from {
		transform: rotate(-360deg);
	}
}
@keyframes rotate-centered {
	from {
		transform: translate(-50%, -50%) rotate(-360deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}