$gray: #5a5a5a;
$red: #de1e43;
$dark_red: #a31c33;
$dark_red_alt: #810c1b;
$white: #fff;
$gold_dark_color: #f5d12d;
$gold_light_color: #f7ec81;
$gold: #ecd048;

$text_color: $gray;
$secondary_text_color: $white;
$title-gradient: linear-gradient(90deg, $gold_dark_color, $gold_light_color, $gold_dark_color, $gold_light_color, $gold_dark_color);
$shadow_color: rgba(0, 0, 0, 0.35);

$primary_background: $white;
$secondary_background: $red;
$dark_background: $dark_red;
$dark_background_alt: $dark_red_alt;

$input_border_color: $gold;

$highlight_color: $red;
$disabled_color: rgba( $gray, 0.5);