html {
	// font-size: 16px;
}
body {
	@include mediaDesktop {
		font-size: rem(18px);
	}
	position: relative;
	background-color: $secondary_background;
	background-image: url('../images/background.jpg');
	background-position: top;
	background-size: (1680px / 2), 100%;
	background-repeat: no-repeat;
	color: $secondary_text_color;
	text-align: center;
	font-weight: $roman;
	font-size: rem(14px);
	font-family: $default_font, Arial, Helvetica, sans-serif;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: $z_index_content - 2;
		background-image: linear-gradient(transparent, transparent (1662px / 2 - 10px),$dark_background (1662px / 2 - 1px), $dark_background_alt 100%);
	}
	&:after {
		@include mediaDesktop {
			background-image: url('../images/background-tickets-desktop.png');
			background-size: 780px auto;
		}
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: $z_index_content - 1;
		background-image: url('../images/background-tickets.png');
		background-position: top;
		background-size: (636px/2) auto;
		background-repeat: no-repeat;
	}
}

* {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
// ul,
// li,
figure {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: $heavy;
}
h1 {
	@include mediaDesktop {
		font-size: rem(40px);
	}
	position: relative;
	z-index: $z_index_content + 1;
	display: inline-block;
	margin-bottom: 8px;
	background-image: $title-gradient;
	        background-clip: text;
	text-transform: uppercase;
	font-weight: $black;
	font-size: rem(23px);
	font-family: $title_font;

	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
// h2 {
// }
// h3 {
// }
h4 {
	margin-bottom: 15px;
}
strong {
	font-weight: $heavy;
}
a {
	color: $text_color;
	// text-decoration: none;
	transition: $default_transition;
	&:hover {
		color: $highlight_color;
		text-decoration: underline;
	}
}
button {
	outline: none;
	border: none;
	background: transparent;
	cursor: pointer;
}
%medium_text {
	font-weight: $heavy;
}
.left-aligned {
	text-align: left;
}
::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: $highlight_color;
}
:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: $highlight_color;
	opacity: 1;
}
::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: $highlight_color;
	opacity: 1;
}
:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: $highlight_color;
}
::-ms-input-placeholder {
	/* Microsoft Edge */
	color: $highlight_color;
}
::placeholder {
	/* Most modern browsers support this now. */
	color: $highlight_color;
}

// pour permettre dans le contenu de la page de revenir à un ul sans rien
%blank_ul {
	padding: 0;
	list-style: none;
	li {
		display: inline-block;
		padding: 0;
	}
}

img {
	height: auto;
	max-width: 100%;
}

// @media ( max-width: $bpSmall ) {
// 	body {
// 		font-size: rem(13px);
// 	}
// 	h1 {
// 		margin-bottom: 35px;
// 		font-size: rem(30px);
// 	}
// 	h2 {
// 		font-size: rem(22px);
// 	}
// }


input[type=text],
input[type=tel],
input[type=email],
textarea {
	border: none;
}