@font-face {
	font-weight: $roman;
	font-style: normal;
	font-family: $default_font;
	src: url('fonts/HelveticaNeueLTStd-Roman.eot');
	src: url('fonts/HelveticaNeueLTStd-Roman.woff2') format('woff2'),
	url('fonts/HelveticaNeueLTStd-Roman.otf') format('truetype');
}

@font-face {
	font-weight: $bold;
	font-style: normal;
	font-family: $default_font;
	src: url('fonts/HelveticaNeueLTStd-Bd.eot');
	src: url('fonts/HelveticaNeueLTStd-Bd.woff2') format('woff2'),
	url('fonts/HelveticaNeueLTStd-Bd.otf') format('truetype');
}

@font-face {
	font-weight: $heavy;
	font-style: normal;
	font-family: $default_font;
	src: url('fonts/HelveticaNeueLTStd-Hv.eot');
	src: url('fonts/HelveticaNeueLTStd-Hv.woff2') format('woff2'),
	url('fonts/HelveticaNeueLTStd-Hv.otf') format('truetype');
}

@font-face {
	font-weight: $black;
	font-style: normal;
	font-family: $default_font;
	src: url('fonts/HelveticaNeueLTStd-Blk.eot');
	src: url('fonts/HelveticaNeueLTStd-Blk.woff2') format('woff2'),
	url('fonts/HelveticaNeueLTStd-Blk.otf') format('truetype');
}

@font-face {
	font-weight: $black;
	font-style: normal;
	font-family: $title_font;
	src: url('fonts/HelveticaNeueLTStd-BlkCn.eot');
	src: url('fonts/HelveticaNeueLTStd-BlkCn.woff2') format('woff2'),
	url('fonts/HelveticaNeueLTStd-BlkCn.otf') format('truetype');
}
