.isLoading {
	position: relative;
	color: transparent !important;
	opacity: .8;
	&:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 2;
		display: block;
		width: 20px;
		height: 20px;
		border: 1px solid $secondary_text_color;
		border-top: 1px solid rgba( $secondary_text_color, .5);
		border-radius: 50%;
		animation: rotate-centered 1s linear infinite;
	}
}