// $container_padding: 60px;
$horizontal_spacing: 10px;
$vertical_spacing: 10px;
$vertical_spacing_desktop: 40px;
$container_padding: 20px $horizontal_spacing;
$container_padding_desktop: $vertical_spacing_desktop $horizontal_spacing;
$container_max_size: 700px;

// font face
$default_font: 'Helvetica Neue LT Std';
$title_font:   'Helvetica Neue LT Std Condensed';
//font-weights
$roman: 400;
$bold:  700;
$heavy: 800;
$black: 900;

$z_index_content: 1;
$z_index_modal:   100;

$default_border_radius: 5px;

$panel_box_shadow: 1px 1px 3px $shadow_color;

$bpDestkop: 480px;
$bpSmall: 480px;
@mixin mediaDesktop {
	@media (min-width: #{$bpDestkop}) {
		@content;
	}
}